<div class="container tm-mt-big tm-mb-big">
    <div class="row">
        <div class="col-12 mx-auto tm-login-col">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="tm-block-title mb-4">Welcome to Dashboard</h2>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <h3 class="tm-block-title mb-4 text-center">{{message}}</h3>
                        <p class="tm-block-title mb-4 text-center">Quay về <a href='/admin'>trang chủ</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>