<div class="container tm-mt-big tm-mb-big">
    <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Edit City</h2>
                    </div>
                </div>
                <div class="row tm-edit-product-form">
                    <div class="col-12">
                        <form id="add-city-form" class="tm-edit-product-form" method='post'>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group mb-3">
                                    <label for="city">City
                                    </label>
                                    <input id="city" name="city" type="text" class="form-control validate" value="" required />
                                </div>
                                
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-3">
                                    <label for="zipcode">Zipcode
                                    </label>
                                    <input id="zipcode" name="zipcode" type="text" class="form-control validate" value="" required />
                                </div>
                                
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-3">
                                    <label for="price">Shipper price
                                    </label>
                                    <input id="price" name="price" type="text" class="form-control validate" value="" required />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-3">
                                    <label for="slug">Slug
                                    </label>
                                    <input id="slug" name="slug" type="text" class="form-control validate" value="" required />
                                </div>
                                
                            </div>
                            
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block text-uppercase">Edit
                                    Now</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>