<div class="container tm-mt-big tm-mb-big">
    <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Add Group</h2>
                    </div>
                </div>
                <div class="row tm-edit-product-row">
                    <div class="col-12">
                        <form method="post" id="add-group-form" class="tm-edit-product-form">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                                <div class="form-group mb-3">
                                    <label for="name">Name
                                    </label>
                                    <input id="name" name="name" type="text"
                                        class="form-control validate" value="" required/>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="slug">Slug
                                    </label>
                                    <input id="slug" name="slug" type="text"
                                        class="form-control validate" value="" required/>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
                                <div class="tm-bg-primary-dark tm-block tm-block-products">
                                    <div class="tm-product-table-container">
                                        <table class="table table-hover tm-table-small tm-product-table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">&nbsp;</th>
                                                    <th scope="col">USERNAME</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#data.users}}
                                                <tr id="row-{{id}}">
                                                    <th scope="row"><input type="checkbox" class="select-row" id="{{id}}" onchange="selectUser(this)"/></th>
                                                    <td class="tm-product-name" style="cursor: pointer;">
                                                        {{username}}
                                                    </td>
                                                </tr>
                                                {{/data.users}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block text-uppercase">Add Now</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>