<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="result-background">
                    <div class="result-container">
                        
                        <h3 class="title text-center clr-orange">{{message}}</h3>
                        <p class="text-center">Quay trở về <a href="/">trang chủ</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>